          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '1' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS MOSTRADOR/DEL  ____comidas_____01co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '2' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> EMPANADAS MOSTRA/DEL  ____comidas_____02co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '3' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS                ____comidas_____03co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '21' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PIZZAS PORC           ____comidas_____21co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
