          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '5' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA DELY        ___cafeteria____05ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '9' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA             ___cafeteria____09ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
