    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS MOSTRADOR/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR.MUZZA/ MOSTRADOR . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ESP. PINPUN MOSTRAD $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.MUZZA Y MORRON BARRA   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.JAMON .MOSTADOR . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMONYMORROMOSTRADOR  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOA .MOSTRADOR .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZA/ MOSTRADOR .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA/ MOSTRADOR  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA C/JAMON . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPOLITAN/ MOSTRADOR  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.NAPO,ESPE/ MOSTRADOR   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CALABRESA/ MOSTRADOR   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PROVOLONE/ MOSTRAD .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PALMITO/ MOSTRADOR .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ALROQUEFO/ MOSTRADOR  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CARIBE헤/ MOSTR . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.ROMANA MOSTRADOR . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDURA MOSTR . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FAINA / BARRA . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA MOSTRADOR . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO/CON LATA SCHNEIDER  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO MUZZA +CERV . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZA . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02 ESP. PIN PUN SALON  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 MUZZA Y MORRO SALON $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 04 JAMON SALON . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 JAMONY MORRON SALON $570</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 ANCHOA SALON . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZA SALON . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08FUGAZETA SALON . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 09FUZETA/JAMONSALON .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 NAPOLITANASALON . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11NAPO ESPECIAL SALON  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 CALABRESA SALON . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 PROVOLONESALON . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14PALMITOS. SALON . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15AL ROQUEFORT . SALON $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16CARIBE헤 SALON . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 ROMANASALON . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 VERDURA . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA SALON .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 MUZZAYMORRON. SALON $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05JAMONYMORRONSALON .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA 6 ANCHOA . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 NAPOLITANASALON . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 CARIBE헤 SALON . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA17 ROMANA . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA18 VERDE . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZARELLA DELIV .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02ESP.PINPUN DELIVERY  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 MUZZAY MORRON DELIV $510</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 04 JAMON DELIVERY . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 JAM Y MORR DELIVERY $590</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 ANCHOAS DELIVERY .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZA DELIVERY .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08 FUGAZZETA DELIVERY  $770</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 09 ZETA C/ JAMON DELIV $820</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 NAPOLITANA DELIVERY $590</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11 NAPO ESPECIAL DELIV $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 CALABRESA DELIVERY  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 PROVOLONE DELIVERY  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14 PALMITO DELIVERY .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15 ROQUEFORT DELIVERY  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16 CARIB. DELIVERY . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 ROMANA DELIVERY . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 VERDURA DELIVERY .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA/CON ANCHOAS  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA.DELIV .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 02 ESP. PINPUN DELIVE  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 MUZZAYMORRON DELIV  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON DELIVERY . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05 JAMON Y MORR DELIV  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 06 DE ANCHOAS DELIVERY $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 NAPOLITANA DELIVERY $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11 NAPO ESPEC. DELIV . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 CALABRESA DELIVERY  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 PROVOLONE DELIV . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 PALMITO DELIVERY .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROQUEFORT DELIVERY  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 CARIB. DELIVERY . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 17 ROMANA DELIVERY . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $540</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS MOSTRA/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SALON C/U . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO SALON C/U . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS MOSTRADOR . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE CARNE MOSTRAD  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE POLLO MOSTR .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE JYQ MOSTRADOR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE VERDURA MOSTR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS HUMITA . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA ROQUEFORT . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO BATATA MOSTRADO  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO MEMBRILLO MOSTR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOCENA DE EMPANADAS . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>1 DOCENA DE EMPANADAS . . $700</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CH 02 ESP.PINPUN SALON .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON. SALON . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11NAPO ESPE SALON . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 CALABRESA .SALON .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 PROVOLONE .SALON .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 PALMITO .SALON . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROQUEFORT. SALON .  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS PORC         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR. MUZZA/ SALON . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ESP.PINPUN. SALON .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. MUZZAYMORRON SALON .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMON SALON . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.JAMON Y MORRON SALON   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOA/ SALON . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZA SALON . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZETA RELLENSALON  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PORFUGAZETA/JAMON. SALON   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.NAPOLITANASALON . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPO ESPECIALSALON .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. CALABRESA/ SALON . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PROVOLONE/ SALON . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PAMITOS/ SALON . . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.AL ROQUEFORT/ SALON .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CARIBE헤/ SALON . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC.ROMANASALON . . . .   $75</li>                          
                <li class="text-center"><span class="fa-li"></span>POR VERDE SALON . . . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FAINA SALON . . .  $35</li>                          
                <li class="text-center"><span class="fa-li"></span>2PORCMUZZA+BEBIDA +FAINA. $210</li>                          
                <li class="text-center"><span class="fa-li"></span>2 PORC. MUZZA + BEB. SALO $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO SAL GR MUZZA+BEBIDA $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO P.YA GDE MUZA+3CER  $700</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
