    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CH 02 ESP.PINPUN SALON .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON. SALON . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11NAPO ESPE SALON . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 CALABRESA .SALON .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 PROVOLONE .SALON .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 PALMITO .SALON . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROQUEFORT. SALON .  $425</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO SALON . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN SALON . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA SALON . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO/ANANA E/ALM SALON $145</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE SALON . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 1 BOCHA SALON . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 BOCHAS SALON . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS SALON . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA/DULCE SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. MIXTO SALON . . . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU SALON . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA SALON . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA PIN PUN . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA BANANA SPLIT . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $345</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO MOSTRADOR . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN C/ CREMA/DULCE MOSTR $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN MIXTO MOSTRADOR . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN MOSTRADOR .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN C/ CREMA/DULCE MOST $130</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN MIXTO MOSTRA $140</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE MOSTRADOR . $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">CODIGOS VARIOS      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-info text-uppercase text-center">PROMO POSTRES       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">Promociones </h6>                                     
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo postres               $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
