    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA DELY      </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE DELIVERY . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA DELIVERY .  $85</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE SALON . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA SALON . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE SALON . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLECREMA . C/SALON $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE SALON . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 3 LUNAS .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/PAN Y MANT $145</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO SALON . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANO . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO SALON . . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA SALON .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE SALON . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE SALON . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO SALON . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/ GOTAS WHIS. SALON $105</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO LECH FRIA/CALI SALON  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA NESQUIK SALON $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE CALIENTE SALON  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO SALON . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIAL SALON . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS SALON C/U . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA PORCION SALON $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. RICOTA/ DULCE SALON  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON GOTAS . . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO DELIVERY .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AM. C/ CREMA . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE DELIVERY . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/ CREMA DELIV $135</li>                          
                <li class="text-center"><span class="fa-li"></span>MERIE/DESTOSTADA+MTE+MERM  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE DELIVERY .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO CON 1/2LUNAS DEL $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE+PAN Y MTECA   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO DELIV . . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANA DELIVE  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATECOCIDO DELIVERY   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE DELIVERY . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO DELIVERY .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO LECHE DELIVERY . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO DELIVERY . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS DELIVERY C/U .  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS 1/2 DOCENA . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS UNA DOCENA . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>P. RIC/DCE LECHE/MANZ DEL $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FROLA DELIVERY . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTAS DULCES ENTERAS . . $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
