    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS COPAS         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASO DE VINOMOSTRADOR . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE VINO SALON . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VASCO VIEJO SALON .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO SALON . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO 1/2 LTRO SALON . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO MOSCATO CON SODA . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO 1LTRO SALON $310</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1/2 LTRO . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1LTRO . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 SALON . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 SALON . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 1/2 SALON . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 SALON . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 SALON . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 1/2 SALON . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CHATEAU VIEUX 3/4 . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ MALBEC 3/4 DELIVERY $420</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 DELIVERY  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ MALBEC 1/2 DELIVERY $300</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 DELIVERY  $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS S/ALCOHOL   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA PERSONAL . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>COCA 1.5 DELIVERY . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1./500 . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 500CM3 BARRA . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1 1/2 SALON . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>COCA 1/5 LTS SALON . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA SALON 350 CM3 . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA VILLAVICENCIO SALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON SALON . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADAS SALON . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 500 ML SALON . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS VARIOS SALON . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO TUTTIFRUTI SALON  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. LECHE SALON . . . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE SALON . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 350C.C MOSTR . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA .BARRA . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON MOSTRADOR . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA MOSTR/DELIVERY $160</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS VARIOS DELIVERY  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE LECHE DELIVERY  $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CINZANO/HESP/ SALON . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA SALON . . . . . .  $130</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATA HEINEK/STELLA/IMPER  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA SCH/QUIL/BRA . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL/IPA DELIV . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>STE/MILL/ HEIN SALON . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>QUIL/ISEN/BRA 1LTS SALON  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA . . . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL/IPA/STOUT 1LTRO  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES CRISTAL .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LISO SALON . . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP/BALON (SALON) . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 TANQUE SALON . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV.1LITRO SALON . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV.1 1/2 LIT SALO $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP BARRA . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA PATAGONIA . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LISO BARRA . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2TANQUE BARRA . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA SCHNEYD/QUILM/BRAHMA $160</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV. 1 LITRO BARRA $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV 1 1/2 LI BARRA $390</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILM/BRAHMA/ISENB 1L DEL $320</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA STELLA PERSONAL . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
