    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE SALON . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA SALON . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE SALON . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLECREMA . C/SALON $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE SALON . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 3 LUNAS .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/PAN Y MANT $145</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO SALON . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANO . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO SALON . . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA SALON .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE SALON . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE SALON . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO SALON . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/ GOTAS WHIS. SALON $105</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO LECH FRIA/CALI SALON  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA NESQUIK SALON $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE CALIENTE SALON  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO SALON . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIAL SALON . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS SALON C/U . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA PORCION SALON $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. RICOTA/ DULCE SALON  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON GOTAS . . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AM. C/ CREMA . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/ CREMA DELIV $135</li>                          
                <li class="text-center"><span class="fa-li"></span>MERIE/DESTOSTADA+MTE+MERM  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO CON 1/2LUNAS DEL $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE+PAN Y MTECA   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS 1/2 DOCENA . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS UNA DOCENA . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>P. RIC/DCE LECHE/MANZ DEL $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTAS DULCES ENTERAS . . $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS / MOSCATOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASO DE VINOMOSTRADOR . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE VINO SALON . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VASCO VIEJO SALON .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO SALON . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO 1/2 LTRO SALON . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO MOSCATO BARRA . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO MOSCATO CON SODA . . $110</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO 1LTRO SALON $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1/2 LTRO . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1LTRO . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 SALON . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 SALON . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 1/2 SALON . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 SALON . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 SALON . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 1/2 SALON . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CHATEAU VIEUX 3/4 . . . . $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASO DE SODA . . . . . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1./500 . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 500CM3 BARRA . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COCA 1/75 LTS SALON . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA SALON 350 CM3 . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA VILLAVICENCIO SALON  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON SALON . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADAS SALON . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 500 ML SALON . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS VARIOS SALON . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO TUTTIFRUTI SALON  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. LECHE SALON . . . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE SALON . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 350C.C MOSTR . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA .BARRA . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON MOSTRADOR . . . . .  $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CINZANO/HESP/ SALON . . .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA SALON . . . . . .   $95</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR. MUZZA/ SALON . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ESP.PINPUN. SALON .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. MUZZAYMORRON SALON .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMON SALON . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.JAMON Y MORRON SALON   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOA/ SALON . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZA SALON . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZETA RELLENSALON  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PORFUGAZETA/JAMON. SALON   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.NAPOLITANASALON . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPO ESPECIALSALON .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. CALABRESA/ SALON . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PROVOLONE/ SALON . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PAMITOS/ SALON . . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.AL ROQUEFORT/ SALON .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CARIBE헤/ SALON . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC.ROMANASALON . . . .   $75</li>                          
                <li class="text-center"><span class="fa-li"></span>POR VERDE SALON . . . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FAINA SALON . . .  $35</li>                          
                <li class="text-center"><span class="fa-li"></span>2PORCMUZZA+BEBIDA +FAINA. $210</li>                          
                <li class="text-center"><span class="fa-li"></span>2 PORC. MUZZA + BEB. SALO $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO SAL GR MUZZA+BEBIDA $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO P.YA GDE MUZA+3CER  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO/CON LATA SCHNEIDER  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO MUZZA +CERV . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON IPA/IMPERIAL/ . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA HEINEKEN/STELLA/PTAG $160</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA SCH/IMP/QUI/BRA . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA/HEINEK 1LTS SALON  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>QUIL/ISEN/BRA 1LTS SALON  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA . . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL. IPA. STOUT . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES CRISTAL .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LISO SALON . . . . . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP/BALON (SALON) . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 TANQUE SALON . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV.1LITRO SALON . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV.1 1/2 LIT SALO $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP BARRA . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON CORONA/PATAGONIA . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LISO BARRA . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2TANQUE BARRA . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV. 1 LITRO BARRA $285</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERV 1 1/2 LI BARRA $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>BAYLEYS . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LEGUI . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>MARIPOSA . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN . . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>BOUSSAC . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS PRIDE . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTR. BRUT . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA REAL . . . . . . .  $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS MOSTRADOR/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR.MUZZA/ MOSTRADOR . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ESP. PINPUN MOSTRAD $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.MUZZA Y MORRON BARRA   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.JAMON .MOSTADOR . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMONYMORROMOSTRADOR  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOA .MOSTRADOR .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZA/ MOSTRADOR .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA/ MOSTRADOR  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA C/JAMON . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPOLITAN/ MOSTRADOR  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.NAPO,ESPE/ MOSTRADOR   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CALABRESA/ MOSTRADOR   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PROVOLONE/ MOSTRAD .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PALMITO/ MOSTRADOR .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ALROQUEFO/ MOSTRADOR $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CARIBE헤/ MOSTR . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.ROMANA MOSTRADOR . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDURA MOSTR . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FAINA / BARRA . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA MOSTRADOR . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZA . . . . . . . $395</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02 ESP. PIN PUN SALON  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 MUZZA Y MORRO SALON $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 04 JAMON SALON . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 JAMONY MORRON SALON $495</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 ANCHOA SALON . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZA SALON . . . $395</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08FUGAZETA SALON . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 09FUZETA/JAMONSALON .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 NAPOLITANASALON . . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11NAPO ESPECIAL SALON  $525</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 CALABRESA SALON . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 PROVOLONESALON . .  $525</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14PALMITOS. SALON . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15AL ROQUEFORT . SALON $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16CARIBE헤 SALON . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 ROMANASALON . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 VERDURA . . . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA SALON .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 MUZZAYMORRON. SALON $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05JAMONYMORRONSALON .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA 6 ANCHOA . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 NAPOLITANASALON . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 CARIBE헤 SALON . .  $425</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA17 ROMANA . . . . .  $425</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA18 VERDE . . . . . . $425</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA/CON ANCHOAS  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>DOBLE MUZZA . . . . . . . $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS MOSTRA/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS MOSTRADOR . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE CARNE MOSTRAD  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE POLLO MOSTR .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE JYQ MOSTRADOR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE VERDURA MOSTR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS HUMITA . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA ROQUEFORT . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO BATATA MOSTRADO  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO MEMBRILLO MOSTR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOCENA DE EMPANADAS . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>1 DOCENA DE EMPANADAS . . $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS SALON     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SALON C/U . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO SALON C/U . . .  $60</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CH 02 ESP.PINPUN SALON .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON. SALON . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11NAPO ESPE SALON . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 CALABRESA .SALON .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 PROVOLONE .SALON .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 PALMITO .SALON . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROQUEFORT. SALON .  $425</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO SALON . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN SALON . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA SALON . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO/ANANA E/ALM SALON $145</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE SALON . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 1 BOCHA SALON . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 BOCHAS SALON . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS SALON . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA/DULCE SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. MIXTO SALON . . . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU SALON . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA SALON . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA PIN PUN . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA BANANA SPLIT . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $345</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO MOSTRADOR . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN C/ CREMA/DULCE MOSTR $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN MIXTO MOSTRADOR . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN MOSTRADOR .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN C/ CREMA/DULCE MOST $130</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN MIXTO MOSTRA $140</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE MOSTRADOR . $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">CODIGOS VARIOS      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-info text-uppercase text-center">PROMO POSTRES       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">Promociones </h6>                                     
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo postres               $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
