    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS MOSTRADOR/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORC. ESP. PINPUN MOSTRAD $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.MUZZA Y MORRON BARRA   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.JAMON .MOSTADOR . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMONYMORROMOSTRADOR $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOA .MOSTRADOR .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZA/ MOSTRADOR .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA/ MOSTRADOR  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA C/JAMON . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPOLITAN/ MOSTRADOR $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.NAPO,ESPE/ MOSTRADOR  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CALABRESA/ MOSTRADOR  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PROVOLONE/ MOSTRAD .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PALMITO/ MOSTRADOR . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ALROQUEFO/ MOSTRADOR $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CARIBENA/ MOSTR . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.ROMANA MOSTRADOR . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDURA MOSTR . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FAINA / BARRA . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA MOSTRADOR . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO CON LATA IMPERIAL . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO CON LATA HEINEKEN . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO GDE MUZZA+GAS O CER $860</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZA . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02 ESP. PIN PUN SALON  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 MUZZA Y MORRO SALON $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 04 JAMON SALON . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 JAMONY MORRON SALON $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 ANCHOA SALON . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZA SALON . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08FUGAZETA SALON . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 09FUZETA/JAMONSALON . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 NAPOLITANASALON . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11NAPO ESPECIAL SALON  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 CALABRESA SALON . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 PROVOLONESALON . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14PALMITOS. SALON . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15AL ROQUEFORT . SALON $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16CARIBEÑA SALON . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 ROMANASALON . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 VERDURA . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA SALON .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 MUZZAYMORRON. SALON $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05JAMONYMORRONSALON .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA 6 ANCHOA . . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 NAPOLITANASALON . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 CARIBEÑA SALON . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA17 ROMANA . . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA18 VERDE . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZARELLA DELIV .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02ESP.PINPUN DELIVERY  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 MUZZAY MORRON DELIV $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 04 JAMON DELIVERY . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 JAM Y MORR DELIVERY $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 ANCHOAS DELIVERY .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZA DELIVERY .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08 FUGAZZETA DELIVERY  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 09 ZETA C/ JAMON DELIV$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 NAPOLITANA DELIVERY $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11 NAPO ESPECIAL DELIV $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 CALABRESA DELIVERY  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 PROVOLONE DELIVERY  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14 PALMITO DELIVERY .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15 ROQUEFORT DELIVERY  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16 CARIB. DELIVERY . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 ROMANA DELIVERY . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 VERDURA DELIVERY .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA/CON ANCHOAS  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA.DELIV .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 02 ESP. PINPUN DELIVE  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 MUZZAYMORRON DELIV  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON DELIVERY . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05 JAMON Y MORR DELIV  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 06 DE ANCHOAS DELIVERY $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 NAPOLITANA DELIVERY $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11 NAPO ESPEC. DELIV . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 CALABRESA DELIVERY  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 PROVOLONE DELIV . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 PALMITO DELIVERY .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROQUEFORT DELIVERY  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 CARIB. DELIVERY . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 17 ROMANA DELIVERY . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS MOSTRA/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS MOSTRADOR . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE CARNE MOSTRAD $100</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE POLLO MOSTR . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE JYQ MOSTRADOR $100</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE VERDURA MOSTR $100</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS HUMITA . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA ROQUEFORT . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO BATATA MOSTRADO $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO MEMBRILLO MOSTR $100</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOCENA DE EMPANADAS . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>1 DOCENA DE EMPANADAS . .$1000</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CH 02 ESP.PINPUN SALON .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON. SALON . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11NAPO ESPE SALON . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 CALABRESA .SALON .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 PROVOLONE .SALON .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 PALMITO .SALON . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROQUEFORT. SALON .  $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS PORC         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR. MUZZA/ SALON . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ESP.PINPUN. SALON .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. MUZZAYMORRON SALON .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMON SALON . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.JAMON Y MORRON SALON  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOA/ SALON . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZA SALON . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZETA RELLENSALON $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PORFUGAZETA/JAMON. SALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.NAPOLITANASALON . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPO ESPECIALSALON . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. CALABRESA/ SALON . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PROVOLONE/ SALON . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PAMITOS/ SALON . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.AL ROQUEFORT/ SALON . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CARIBEÑA/ SALON . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC.ROMANASALON . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR VERDE SALON . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FAINA SALON . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>2PORCMUZZA+BEBIDA +FAINA. $230</li>                          
                <li class="text-center"><span class="fa-li"></span>2 PORC. MUZZA + BEB. SALO $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
