    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS MOSTRADOR/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR.MUZZA/ MOSTRADOR . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ESP. PINPUN MOSTRAD $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.MUZZA Y MORRON BARRA   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.JAMON .MOSTADOR . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMONYMORROMOSTRADOR  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOA .MOSTRADOR .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZA/ MOSTRADOR .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA/ MOSTRADOR  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.FUGAZZETA C/JAMON . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPOLITAN/ MOSTRADOR  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.NAPO,ESPE/ MOSTRADOR   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CALABRESA/ MOSTRADOR   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.PROVOLONE/ MOSTRAD .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PALMITO/ MOSTRADOR .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ALROQUEFO/ MOSTRADOR $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.CARIBEÑA/ MOSTR . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR.ROMANA MOSTRADOR . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDURA MOSTR . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FAINA / BARRA . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA MOSTRADOR . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZA . . . . . . . $395</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02 ESP. PIN PUN SALON  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 MUZZA Y MORRO SALON $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 04 JAMON SALON . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 JAMONY MORRON SALON $495</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 ANCHOA SALON . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZA SALON . . . $395</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08FUGAZETA SALON . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 09FUZETA/JAMONSALON .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 NAPOLITANASALON . . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11NAPO ESPECIAL SALON  $525</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 CALABRESA SALON . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 PROVOLONESALON . .  $525</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14PALMITOS. SALON . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15AL ROQUEFORT . SALON $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16CARIBEÑA SALON . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 ROMANASALON . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 VERDURA . . . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA SALON .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 MUZZAYMORRON. SALON $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05JAMONYMORRONSALON .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA 6 ANCHOA . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 NAPOLITANASALON . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 CARIBEÑA SALON . .  $425</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA17 ROMANA . . . . .  $425</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA18 VERDE . . . . . . $425</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA/CON ANCHOAS  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>DOBLE MUZZA . . . . . . . $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS MOSTRA/DEL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS MOSTRADOR . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE CARNE MOSTRAD  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE POLLO MOSTR .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE JYQ MOSTRADOR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE VERDURA MOSTR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS HUMITA . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA ROQUEFORT . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO BATATA MOSTRADO  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO MEMBRILLO MOSTR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOCENA DE EMPANADAS . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>1 DOCENA DE EMPANADAS . . $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS SALON     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SALON C/U . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITO SALON C/U . . .  $60</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
