    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO SALON . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN SALON . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA SALON . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO/ANANA E/ALM SALON $210</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE SALON . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 1 BOCHA SALON . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 BOCHAS SALON . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS SALON . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. MIXTO SALON . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU SALON . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA SALON . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA PIN PUN . . . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA BANANA SPLIT . . . .$1000</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO MOSTRADOR . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN C/ CREMA/DULCE MOSTR $160</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN MIXTO MOSTRADOR . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN MOSTRADOR .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN C/ CREMA/DULCE MOST $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN MIXTO MOSTRA $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA DELIV . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO O ANANA DELIV . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE MOSTRADOR . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU XCION DELIVERY . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinal/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
